apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-zmhkaqdq
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-zmhkaqdq:d7165afc21ff10147ef9df7e86f6fbe0b7b1c464@sha256:61299167dfe53175f16db126db9ffff3e1370deabcf1df79235670d9a0f0c5c5
          name: container-image
